altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
keyring==25.2.1
more-itertools==10.2.0
packaging==24.0
pefile==2023.2.7
psycopg2==2.9.9
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
pyodbc==5.1.0
pywin32-ctypes==0.2.2
requests==2.32.2
setuptools==69.5.1
urllib3==2.2.1
